<!--<p>Bonjour {{ clientName }} 👋, <br>

  Votre compte sur serfac.fr est désormais activé. Vous pourrez y accéder dans un délai d'une heure maximum. <br>
  Pour vous connecter à votre compte, cliquez sur le bouton ci-dessous puis saisissez les identifiants suivant :</p>
<br><br>
<p style="font-weight: bold">Adresse email : {{ clientEmail }}</p>
<p style="font-weight: bold">Mot de passe : {{ randomstring }}</p>
<br><br>
<p>Lien vers l\'application : <a href="https://serfac.fr/auth/login" target="_blank">Accéder</a></p>
<br><br>
<p>Cordialement,<br>
La SERFAC </p>-->

<div style="background-color:#f7fafc">


  <div style="background-color:#f7fafc">





    <div style="margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:16px;padding-top:16px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="left" style="font-size:0px;padding:0 16px;word-break:break-word">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                      <tbody>
                      <tr>
                        <td style="width:200px">

                          <a href="https://www.checkmark.dev" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.checkmark.dev&amp;source=gmail&amp;ust=1623851883366000&amp;usg=AFQjCNFL5443M3dxfOvYHZWGFc4xDf1-fA">

                            <img height="auto" src="https://ci3.googleusercontent.com/proxy/h7p2twXV9MYBCkHkUrIcc7_1xyADK1zNv-Jo4bpOxeKvmjtIeOg2n_iQ49OIPMCmhh-vPkcB6XZs0leq=s0-d-e1-ft#https://api.checkmark.dev/images/logo.png" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="200" class="CToWUd">

                          </a>

                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="background:#2589c7;background-color:#2589c7;margin:0px auto;border-radius:4px 4px 0 0;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#2589c7;background-color:#2589c7;width:100%;border-radius:4px 4px 0 0">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:32px;padding-top:32px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                      <tbody>
                      <tr>
                        <td style="width:194px">

                          <img height="100" src="https://ci3.googleusercontent.com/proxy/RXj8rY8WAjmCefJbDPtD3-8WDzkOqCFcK_cpFUQWiN7oN2o11STskSWHtZgPiQoJAZIqCXIUE23xu_qi2MdBsqGwgu0X=s0-d-e1-ft#https://api.checkmark.dev/images/streak-header.png" style="border:0;display:block;outline:none;text-decoration:none;height:100px;width:100%;font-size:13px" width="194" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 550.5px; top: 184.641px;"><div id=":2qk" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Télécharger la pièce jointe " data-tooltip-class="a1V" data-tooltip="Télécharger"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>

                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
          <td style="border-left:1px solid #cbd5e0;border-right:1px solid #cbd5e0;direction:ltr;font-size:0px;padding:0px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                    <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161"><h1 style="font-size:20px;font-weight:500;color:#4a5568">

                      Hello Para&nbsp;!

                    </h1>

                      <p>

                        Tu n'as publié aucune tâche aujourd'hui. Si tu as fait ou prévois de faire quelque chose, pensez à le noter pour que les membres de la communauté puissent suivre ton avancement&nbsp;!

                      </p>

                      <p>

                        Tu risques de <strong>perdre ta “streak” de 38 jour(s)</strong> si tu ne publies rien d'ici à ce soir.

                      </p></div>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
          <td style="border-left:1px solid #cbd5e0;border-right:1px solid #cbd5e0;direction:ltr;font-size:0px;padding:0px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;padding-bottom:32px;word-break:break-word">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                      <tbody><tr>
                        <td align="center" bgcolor="#2589C7" role="presentation" style="border:none;border-radius:3px;background:#2589c7" valign="middle">
                          <a href="https://www.checkmark.dev" style="display:inline-block;background:#2589c7;color:#ffffff;font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:medium;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:14px 20px;border-radius:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.checkmark.dev&amp;source=gmail&amp;ust=1623851883366000&amp;usg=AFQjCNFL5443M3dxfOvYHZWGFc4xDf1-fA">
                            Créer une tâche
                          </a>
                        </td>
                      </tr>
                      </tbody></table>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
          <td style="border-left:1px solid #cbd5e0;border-right:1px solid #cbd5e0;direction:ltr;font-size:0px;padding:0px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                    <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161"><h2 style="font-size:20px;font-weight:500;color:#4a5568">

                      Qu'est-ce qu'une "streak"&nbsp;?

                    </h2>

                      <p>

                        Une "streak" est le nombre de jours consécutifs où tu publies une tâche sur <span class="il">Checkmark</span>, qu’elle soit faite, ou à faire. S'il se passe une journée lorsqu'aucune tâche n'est publié, alors la streak retourne à zéro.

                      </p>

                      <p>

                        Les paliers de la streak sont&nbsp;:

                      </p></div>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
        <tbody>
        <tr>
          <td style="border-bottom:1px solid #cbd5e0;border-left:1px solid #cbd5e0;border-right:1px solid #cbd5e0;direction:ltr;font-size:0px;padding:0px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-25" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td style="vertical-align:top;padding-bottom:0">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">

                      <tbody><tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">

                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                            <tr>
                              <td style="width:30px">

                                <img height="30" src="https://ci5.googleusercontent.com/proxy/0OfykX4mmqD8bZ3yO1CFVBjaTRsP5UZHdGT6H6Ofto6s-vBlllioiUw_wX2-jnjYcuEZjNyyUZ-1xIadcJTbhpc=s0-d-e1-ft#https://api.checkmark.dev/images/emoji/sad.png" style="border:0;display:block;outline:none;text-decoration:none;height:30px;width:100%;font-size:13px" width="30" class="CToWUd">

                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>

                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                          <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161">0 jours</div>

                        </td>
                      </tr>

                      </tbody></table>

                  </td>
                </tr>
                </tbody>
              </table>

            </div>



            <div class="m_1190742824803374277mj-column-per-25" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td style="vertical-align:top;padding-bottom:0">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">

                      <tbody><tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">

                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                            <tr>
                              <td style="width:30px">

                                <img height="30" src="https://ci3.googleusercontent.com/proxy/aNEJKGDKVSkzdWFxKXLiaV9TiAFQNn0ymktawtjbWhHT9cVww_ct1bFyc8-fcP9mZ6cKNL3NVrorvphWGk6xy4Qm_A=s0-d-e1-ft#https://api.checkmark.dev/images/emoji/smile.png" style="border:0;display:block;outline:none;text-decoration:none;height:30px;width:100%;font-size:13px" width="30" class="CToWUd">

                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>

                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                          <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161">1 jour</div>

                        </td>
                      </tr>

                      </tbody></table>

                  </td>
                </tr>
                </tbody>
              </table>

            </div>



            <div class="m_1190742824803374277mj-column-per-25" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td style="vertical-align:top;padding-bottom:0">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">

                      <tbody><tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">

                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                            <tr>
                              <td style="width:30px">

                                <img height="30" src="https://ci3.googleusercontent.com/proxy/X9gP4DzUlw31AhOpGJpZDESAedyvZK1Ac-EY1ubjAHRBzwHgeICGMhE0CrjFmmq0XQiQ5cgumazEwIgts9uxudh9_CY=s0-d-e1-ft#https://api.checkmark.dev/images/emoji/rocket.png" style="border:0;display:block;outline:none;text-decoration:none;height:30px;width:100%;font-size:13px" width="30" class="CToWUd">

                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>

                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                          <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161">7 jours</div>

                        </td>
                      </tr>

                      </tbody></table>

                  </td>
                </tr>
                </tbody>
              </table>

            </div>



            <div class="m_1190742824803374277mj-column-per-25" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td style="vertical-align:top;padding-bottom:0">

                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">

                      <tbody><tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">

                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                            <tbody>
                            <tr>
                              <td style="width:30px">

                                <img height="30" src="https://ci6.googleusercontent.com/proxy/KNpr61GLrzIpzbILUPzHW6btWrVYq3NqwM8_dmUz-TT1Huhao-pIIcUgE81PJtrAMqUQSDX95wpgVjqxeumd-lX4=s0-d-e1-ft#https://api.checkmark.dev/images/emoji/fire.png" style="border:0;display:block;outline:none;text-decoration:none;height:30px;width:100%;font-size:13px" width="30" class="CToWUd">

                              </td>
                            </tr>
                            </tbody>
                          </table>

                        </td>
                      </tr>

                      <tr>
                        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">

                          <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:left;color:#616161">21 jours</div>

                        </td>
                      </tr>

                      </tbody></table>

                  </td>
                </tr>
                </tbody>
              </table>

            </div>


          </td>
        </tr>
        </tbody>
      </table>

    </div>





    <div style="margin:0px auto;max-width:600px">

      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">


            <div class="m_1190742824803374277mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                <tbody><tr>
                  <td align="right" style="font-size:0px;padding:10px 25px;word-break:break-word">

                    <div style="font-family:Roboto,Helvetica,sans-serif;font-size:16px;font-weight:300;line-height:24px;text-align:right;color:#616161"><a href="https://www.checkmark.dev/settings/notifications" style="color:#718096;margin-right:8px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.checkmark.dev/settings/notifications&amp;source=gmail&amp;ust=1623851883367000&amp;usg=AFQjCNGOT0NlvGj4VY8b6H6Ceej8g5E1jg">

                      Régler mes notifications

                    </a>

                      <a href="http://email.checkmark.dev/u/eJwVzEsSwiAMANDTlF0ZfknTBQtP4kACyvSnVD2_eoD3JFbPwKpFNIzoxXEI4q52MoZodm4I5mxSlvYckQMw5Ioy7ut2fvSW2qrukQvlOQNnqEg524JENtTJS50pQVI9vncpfW37oh_9-JW3P9V8bOoVB3f5AnoXKSA" style="color:#718096;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://email.checkmark.dev/u/eJwVzEsSwiAMANDTlF0ZfknTBQtP4kACyvSnVD2_eoD3JFbPwKpFNIzoxXEI4q52MoZodm4I5mxSlvYckQMw5Ioy7ut2fvSW2qrukQvlOQNnqEg524JENtTJS50pQVI9vncpfW37oh_9-JW3P9V8bOoVB3f5AnoXKSA&amp;source=gmail&amp;ust=1623851883367000&amp;usg=AFQjCNG90wqqvl9-fNZKG6JkVXsf5okF_Q">

                        Se désabonner

                      </a></div>

                  </td>
                </tr>

                </tbody></table>

            </div>


          </td>
        </tr>
        </tbody>
      </table><div class="yj6qo"></div><div class="adL">

    </div></div><div class="adL">





  </div></div><div class="adL">

</div></div>
